body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.like-container {
    display: flex;
    align-items: center;
}

#like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 10px;
}

#like-count {
    font-size: 2rem;
}

.empty-heart {
    color: black;
}

.filled-heart {
    color: red;
}
