* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #000;
}

header .logo {
    font-size: 1.5rem;
}

nav {
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    column-gap: 70px;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 600px) {
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: -33px;
        width: 400%; /* 너비를 더 크게 조정 */
        background: #fff;
        flex-direction: column; /* 세로로 나열되도록 설정 */
        align-items: center;
        margin-top: 10px;
    }

    .menu-icon {
        display: block;
    }

    .menu.show {
        display: flex;
    }

    .menu.show li {
        width: 100%; /* 아이템들이 전체 너비를 차지하도록 설정 */
        margin-bottom: 50px; /* 각 li 요소들의 간격을 50px로 설정 */
    }

    .menu.show li:last-child {
        margin-bottom: 0; /* 마지막 li 요소에는 간격을 제거 */
    }

    .menu.show li a {
        display: block;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
}
