/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #000;
}

header .logo {
    font-size: 1.5rem;
}

nav {
    position: relative;
}

.logo a {
    text-decoration-line: none;
    color: #000;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    column-gap: 70px;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.mypage i {
    color: #000;
    font-size: 25px;
}

.bi-x-lg {
    font-size: 30px;
}

.best {
    position: absolute;
    width: 4.5rem;
    height: 1.8rem;
    margin: 6px 0 0 190px;
    z-index: 1;
}

.Rectangle {
    margin: 9rem auto 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.image-container {
    position: relative;
}

.base-image {
    width: 17rem;
    height: 22rem;
}

.uploaded-image {
    width: 15rem;
    height: 10rem;
    border-radius: 16px;
    position: absolute;
    margin: -340px 0 0 15px;
}

.overlay-image {
    position: absolute;
    top: 20px;
    width: 15rem;
    height: 10rem;
}

.plus {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 70px 0 0 120px;
}

.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 7rem;
    margin: 90px 0 0 0px;
}

.form-container textarea {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    background: none; 
    border: none;
}

.form-container button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #444;
}

.empty{
    width: 16px;
    height: 16px;
    position: absolute;
    flex-direction: column;
    margin: 190px 0 0 0;
    cursor: pointer;
}

@media (max-width: 600px) {
    .menu {
        display: none;
        position: absolute;
        top: 120%;
        right: -65px;
        width: 550%;
        height: 1000%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
    }

    .show-menu {
        display: flex;
        row-gap: 50px;
        background-color: #fff;
    }

    .menu.show li {
        width: 100%;
        margin-bottom: 50px;
    }

    .menu.show-menu li:last-child {
        margin-bottom: 0;
    }

    .menu.show-menu li a {
        display: block;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }

    .Rectangle {
        margin: 5rem auto;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .base-image,
    .overlay-image {
        width: 70%;
        height: 0%;
        margin-left: 70px;
    }

    .overlay-image {
        top: 20px;
        left: 23px;
        width: 15rem;
        height: 10rem;
    }

    .plus {
        margin: 80px 0 0 195px;
    }

    .uploaded-image {
        width: 15rem;
        height: 10rem;
        border-radius: 16px;
        position: absolute;
        margin: -380px 0 0 95px;
    }

    .form-container {
        margin: 80px 0 0 8px;
    }

    .form-container button {
        margin-top: 10px;
    }
}
